@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

body {
    font-family: 'Open Sans';  
    font-size: 20px;
    padding: 0;
    margin: 0;
}

body#juice {
    background-color: #B82C29;
}

#titlebar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 150px;
}

h1 {
    font-family: 'Fredoka One';
    color: #FFC200;
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-size: 100% 100%;
}

#titlebar h1 {
    position: relative;
    top: 5px;
    left: 5px;
    width: 40px;
    margin: 5px 0 0 5px;
    height: 80px;
    background-image: url('assets/images/juicy.png');
}

#titlebar h1 span {
    position: absolute;
    margin: 0 0 0 0;
    padding: 20px 0 0 60px;
    font-size: 30px;
}

#titlebar h2 {
    position: absolute;
    top: 60px;
    left: 65px;
    font-size: 13px;
    width: 200px;
    color: #EEE9E5;
    
}

#titlebar h2 .juice {
    color: #FFC200;
}

#titlebar h2 .web {
    color: #FFC200;
}

#titlebar .button {
    opacity: 0.2;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
}

#titlebar .button:hover {
    opacity: 1; 
}

#titlebar .button .label {
    display: none;
}

#titlebar .quit {
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url('assets/images/quit.png');
}

#titlebar .pitchers {
    position: absolute;
    right: 30px;
    top: 5px;
    background-image: url('assets/images/pitcher.png');
}


#content {
    position: absolute;
    left: 5px;
    top: 100px;
    right: 5px;
    bottom: 5px;
    background-color: white;
    border: 1px solid #9f7653;
}

body#pitchers-board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}


#pitchers-board #header {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    background-color: #B82C29;
}

#pitchers-board #header h1 {
    position: relative;    
    width: 50px;
    height: 50px;
    margin: 10px 0 0 10px;
    background-image: url('assets/images/pitcher.png');
}

#pitchers-board #header h1 span {
    padding: 10px 0 0 70px;
    font-size: 20px;
}

#pitchers-list {
    position: absolute;
    overflow-x: hidden;
    overflow-y: scroll;
    left: 0;
    top: 70px;
    right: 0;
    bottom: 0;
}

#pitchers-list .pitcher {
    position: relative;
    width: 100px;
    height: 100px;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 10px;
}

#pitchers-list .pitcher:hover {
    border: 2px solid #B82C29;
}

.pitcher img {
    position: absolute;
    left: 5px;
    top: 5px;
    width: 20px;
    height: 20px;
}

.pitcher span {
    display: block;
}

.pitcher .name {
    position: absolute;
    left: 30px;
    top: 2px;
    font-size: 20px;
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.pitcher .description {
    position: absolute;
    left: 5px;
    top: 35px;
    font-style: italic;
}

.pitcher .author {
    position: absolute;
    left: 5px;
    top: 60px;
    font-size: 10px;
    width: 90px;
    height: auto;
}
