@font-face {
  font-family: 'Fredoka One';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/FredokaOne-Regular.ttf') format('truetype');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

body#juice {
    font-family: 'Open Sans';
    background-color: #B82C29;
    font-size: 20px;
}

#titlebar {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 150px;
}

#titlebar h1 {
    position: relative;
    font-family: 'Fredoka One';
    padding: 0 0 0 0;
    margin: 5px 0 0 5px;
    top: 5px;
    left: 5px;
    width: 40px;
    height: 80px;
    background-image: url('assets/images/juicy.png');
    background-size: 100% 100%;
}

#titlebar h1 span {
    position: absolute;
    color: #FFC200;
    margin: 0 0 0 0;
    padding: 20px 0 0 60px;
    font-size: 30px;
}

#titlebar h2 {
    position: absolute;
    top: 60px;
    left: 65px;
    font-size: 13px;
    width: 200px;
    color: #EEE9E5;
    
}

#titlebar h2 .juice {
    color: #FFC200;
}

#titlebar h2 .web {
    color: #FFC200;
}

#titlebar .button {
    opacity: 0.2;
    width: 20px;
    height: 20px;
    margin: 0;
    padding: 0;
    background-size: 100% 100%;
}

#titlebar .button:hover {
    opacity: 1; 
}

#titlebar .button .label {
    display: none;
}

#titlebar .quit {
    position: absolute;
    right: 5px;
    top: 5px;
    background-image: url('assets/images/quit.png');
}

#titlebar .pitchers {
    position: absolute;
    right: 30px;
    top: 5px;
    background-image: url('assets/images/pitcher.png');
}


#content {
    position: absolute;
    left: 5px;
    top: 100px;
    right: 5px;
    bottom: 5px;
    background-color: white;
    border: 1px solid #9f7653;
}

#pitchers-board {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#pitchers-board {
    background-color: #FFDD73;
}